ColumnLimit: 80

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse 

IndentCaseLabels: false
IndentWidth: 4
UseTab: Never

PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: Never
